@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 600;
}

h2 {
  color: rgb(154, 154, 154);
  font-weight: 500;
  font-size: 30px;
}

p {
  color: rgb(250, 250, 250);
  background-color: #d4c9eb;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
}

nav {
  background-color: #beb2d7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

footer p {
  font-size: 20px;
  background-color: #beb2d7;
  padding: 1.5rem;
  border-radius: 0rem;
  width: 100%;
}

table {
  background-color: #d4c9eb;
  margin: 2rem auto;
  width: 90%;
  font-size: 25px; 
  padding: 2rem;
}

tr, th {
  padding: 1.5rem;
  background-color: white;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: #d4c9eb;
  text-align: center;
}

form h2 {
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 1rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 20px;
  color: #000;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 400;
}

form textarea {
  height: 70px;
  resize: vertical;
}

form input[type="submit"] {
  background-color: #81BF84;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out;
}

form input[type="submit"]:hover {
  background-color: #5E8E61;
}
  
.images {
  text-align: center;
}

.images img {
  display: block;
  margin: 2rem auto;
  width: 75%;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 55%;
}

.links li {
  list-style: none;
  text-transform: uppercase;
}

.links a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.8px;
  font-size: 20px;
  font-weight: 600;
}

.links a:hover {
  color: #9685c1;
  transform: 0.2s;
}

.content {
  margin: 5rem;
  text-align: center;
}

.content p {
  font-size: 50px;
  font-weight: 600;
}

